@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-background-medium: var(--background-medium);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --color-text-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-highlight-muted: var(--highlight-muted);
  --color-primary-hover: var(--primary-hover);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-seconday-hover: var(--secondary-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(20% 0.0 188);
    --background-medium: oklch(10% 0.0 188);
    --background-light: oklch(35% 0.0 0);
    --foreground: #ededed;
    --text-muted: oklch(85% 0 0);
    --primary: oklch(60% 0.1 188);
    --primary-hover: oklch(50% 0.09 188);
    --highlight: oklch(80% 0.05 188);
    --highlight-muted: oklch(55% 0.05 188);
    --secondary: oklch(65% 0.07 230);
    --secondary-hover: oklch(60% 0.07 230);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html, body {
    @apply h-full;
  }
  * {
    @apply text-foreground;
  }

  input, select, option {
    @apply focus:outline-none
      px-2 py-1 rounded-sm
      bg-background-medium;
  }

  input[type='button'], input[type='submit'], button {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-3xl;
  }
}

@layer components {
  .card {
    @apply border-highlight border-[1px] border-solid
      rounded-2xl px-2 py-1
      bg-background-light;
  }

  .card2 {
    @apply
      rounded-md px-2 py-1
      bg-background-medium;
  }

  .flex-rc {
    @apply flex flex-row justify-center items-center;
  }

  .flex-rl {
    @apply flex flex-row justify-start;
  }

  .flex-cc {
    @apply flex flex-col justify-center items-center;
  }

  .flex-cl {
    @apply flex flex-col items-start;
  }

  .flex-full-center{
    @apply flex flex-row justify-center items-center min-w-full min-h-full;
  }


  .primary-button {
    @apply cursor-pointer
      px-2 py-1
      bg-primary text-white
      hover:bg-primary-hover;
  }

  .common-button {
    @apply cursor-pointer
      duration-150
      px-2 py-1
      bg-background-light text-white
      hover:bg-background-medium;
  }

  .svg-btn-sm {
    @apply cursor-pointer
      [&_svg]:text-2xl;
  }
}

dialog::backdrop {
  background: rgba(37, 37, 37, 0.75); /* stronger darkening */
  backdrop-filter: blur(1px);       /* heavier blur */
}
