@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-background-medium: var(--background-medium);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --color-text-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-highlight-muted: var(--highlight-muted);
  --color-primary-hover: var(--primary-hover);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-seconday-hover: var(--secondary-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(5% 0.1 188);
    --background-medium: oklch(15% 0.0 188);
    --background-light: oklch(30% 0.0 0);
    --foreground: #ededed;
    --text-muted: oklch(85% 0 0);
    --primary: oklch(60% 0.1 188);
    --primary-hover: oklch(50% 0.09 188);
    --highlight: oklch(80% 0.05 188);
    --highlight-muted: oklch(55% 0.05 188);
    --secondary: oklch(65% 0.07 230);
    --secondary-hover: oklch(60% 0.07 230);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html, body {
    @apply h-full;
  }
  * {
    @apply text-foreground
  }
}

@layer components {
  .card {
    @apply border-highlight border-[1px] border-solid rounded-2xl px-2 py-1 bg-black;
  }

  .flex-rc {
    @apply flex flex-row justify-center items-center;
  }

  .flex-cc {
    @apply flex flex-col justify-center items-center;
  }
}

dialog::backdrop {
  background: rgba(37, 37, 37, 0.75); /* stronger darkening */
  backdrop-filter: blur(1px);       /* heavier blur */
}
